/*reset*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

/*barre de navigation*/

.logo {
  width: 50px;
  height: 36px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(251, 204, 143);
}
.navbar {
  background-color: rgb(251, 204, 143);
  height: 36px;
}

.navlist {
  display: flex;
  flex-direction: column;
  background-color: red;
  position: fixed;
  right: 0;
  top: 36px;
  height: 100vh;
  width: 50vw;
  /* display: none; */
}

/*menu burger*/

.burger {
  width: 60px;
  height: 36px;
  cursor: pointer;
  position: relative;
  background-color: black;
}

.burger span {
  width: 100%;
  height: 3px;
  background-color: rgb(251, 204, 143);
  display: block;
  position: absolute;
  top: 50%;
  border-radius: 100%;
  transform: translateY(-50%);
  transition: background-color 0.5s ease-in-out;
}

.burger span::before,
.burger span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 100%;
  background-color: rgb(251, 204, 143);
  transition: transform 0.5s ease-in-out;
}

.burger span::before {
  transform: translateY(9px);
}

.burger span::after {
  transform: translateY(-9px);
}

.burger.active .navlist {
  display: block;
}

.burger.active span {
  background-color: transparent;
}

.burger.active span::before {
  transform: translateY(0px) rotateZ(35deg);
}

.burger.active span::after {
  transform: translateY(0px) rotateZ(-35deg);
}

/*body*/

h1 {
  text-align: center;
  padding: 30px 10px;
  background-color: blue;
}

.history {
  padding: 30px 10px;
  background-color: blueviolet;
}

.pictures {
  background-color: aqua;
}
footer {
  background-color: chartreuse;
}
/*format desktop : >480px*/

@media screen and (min-width: 480px) {
  .burger {
    display: none;
  }

  .navlist {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: static;
    width: calc(100vw - 50px);
    height: 36px;
  }

  .navlist li {
    padding: 0px 15px;
  }
}
