/*reset*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

/*barre de navigation*/

.logo {
  width: 5vw;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(251, 204, 143);
}

.navlist {
  display: flex;
  justify-content: flex-end;
}

.navlist li {
  padding: 1vw 3vh;
}

/*menu burger*/

.burger {
  width: 50px;
  height: 30px;
  cursor: pointer;
  position: relative;
  background-color: black;
}

.burger span {
  width: 100%;
  height: 3px;
  background-color: rgb(251, 204, 143);
  display: block;
  position: absolute;
  top: 50%;
  border-radius: 100%;
  transform: translateY(-50%);
  transition: background-color 0.5s ease-in-out;
}

.burger span::before,
.burger span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 100%;
  background-color: rgb(251, 204, 143);
  transition: transform 0.5s ease-in-out;
}

.burger span::before {
  transform: translateY(9px);
}

.burger span::after {
  transform: translateY(-9px);
}

.burger.active span {
  background-color: transparent;
}

.burger.active span::before {
  transform: translateY(0px) rotateZ(45deg);
}

.burger.active span::after {
  transform: translateY(0px) rotateZ(-45deg);
}
